<div class="nested-fields">
  <%= f.label :description, "Step Description" %>
  <%= f.text_area :description %>

  <!-- Button to remove this step field set -->
  <button type="button" data-action="steps-form#removeField">Remove Step</button>
</div>