
<div class="d-flex">
<div class="form-group mr-4" style="padding-right: 20px;">
  <%= form.text_area :description, class:"form-control" %>
</div>

<%= link_to_remove_nested(form, link_classes: 'btn btn-primary', link_text: "Delete Step") %>

</div>