

<% content_for :title, "Recipes" %>
<% if user_signed_in? %>
<% if @recipes.empty? %>
  <h1> No recipes yet </h1>
  <%= link_to "New recipe", new_recipe_path, class:"btn btn-secondary" %>
<% else %>
<h1>Recipes</h1>
<%= link_to "New recipe", new_recipe_path, class:"btn btn-secondary" %>
<div class="recipes">
<div class="cards">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>
</div>
<% end %>

<% end %>