<html>
  <body>

    <h1>Scroller</h1>
    
    <div class="scroller">
    <ul class="tag-list-scroller scroller__inner">
    <% @quick_foods.each do |food| %>
        <li><%= render food %></li>
    <% end %>
    </ul>
    </div>

  </body>
</html>
