<% content_for :title, "Recipes" %>

<h2 class="quick-index-header">Quick Recipes</h2>

<div class="recipes" style="background: #FA5F55; border-radius: 30px; margin: 40px; padding: 20px;">
<div style="display: inline-flex; flex-wrap: wrap;">
  <% @quick_foods.each do |food| %>
    <%= render food %>
  <% end %>
</div>
</div>

<h2 class="quick-index-header">Dairy Free</h2>

<div class="recipes" style="background: #FA5F55; border-radius: 30px; margin: 40px; padding: 20px;">
<div style="display: inline-flex; flex-wrap: wrap;">
  <% @dairyfrees.each do |food| %>
    <%= render food %>
  <% end %>
</div>
</div>
