<div id="<%= dom_id ingredient %>">
  <p>
    <strong>Description:</strong>
    <%= ingredient.content %>
  </p>
  <p>
    <strong>Completed:</strong>
    <%= ingredient.amount %>
  </p>
  <p>
    <strong>Completed:</strong>
    <%= ingredient.recipe_id %>
  </p>
</div>