<html>
  <body>

    <h1>Scroller</h1>
    
    <div class="scroller">
    <ul class="tag-list-scroller scroller__inner">
    <% @recipes.each do |recipe| %>
        <li><%= render recipe %></li>
    <% end %>
    </ul>
    </div>

  </body>
</html>